.mainDiv {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.container{
  max-width: 600px;
  border: 2px solid black;
  margin-bottom: 10px;
}

.btn {
margin-top: 10px;
margin-bottom: 10px;
}

.img{
  width: 1200px;
  height: 800px;
}

.mainImg{
  display: flex;
  justify-content: center;
}

.containerRecept{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 40px;
  margin-right: 20px;
}

.app{
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none;
}